.macbook-air {
  background-color: #ffffff;
  display: grid;
  justify-items: center;
  align-items: start;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
}

.macbook-air .div {
  background-color: #ffffff;
  width: 1280px;
  height: 3599px;
  position: relative;
}

.macbook-air .main {
  position: absolute;
  width: 1080px;
  height: 487px;
  top: 196px;
  left: 100px;
}

.macbook-air .text-wrapper {
  position: absolute;
  width: 428px;
  top: 75px;
  left: 0;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .lorem-ipsum-dolor {
  position: absolute;
  width: 550px;
  top: 253px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000075;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .overlap-group {
  position: absolute;
  width: 200px;
  height: 44px;
  top: 348px;
  left: 0;
  background-color: #682c0e;
  border-radius: 10px;
}

.macbook-air .text-wrapper-2 {
  position: absolute;
  top: 5px;
  left: 32px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .element {
  position: absolute;
  width: 487px;
  height: 487px;
  top: 0;
  left: 593px;
  object-fit: cover;
}

.macbook-air .course {
  position: absolute;
  width: 1040px;
  height: 379px;
  top: 918px;
  left: 100px;
}

.macbook-air .image {
  width: 480px;
  height: 379px;
  top: 0;
  left: 0;
  position: absolute;
  object-fit: cover;
}

.macbook-air .p {
  position: absolute;
  width: 407px;
  top: 43px;
  left: 587px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .flexcontainer {
  width: 460px;
  height: 128px;
  top: 206px;
  left: 580px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.macbook-air .text {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .span {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
}

.macbook-air .register {
  position: absolute;
  width: 1060px;
  height: 293px;
  top: 1531px;
  left: 120px;
}

.macbook-air .text-wrapper-3 {
  position: absolute;
  width: 530px;
  top: 37px;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .img {
  width: 439px;
  height: 293px;
  top: 0;
  left: 621px;
  position: absolute;
  object-fit: cover;
}

.macbook-air .subscribe {
  position: absolute;
  width: 1080px;
  height: 140px;
  top: 1933px;
  left: 100px;
  background-color: #f9e0ae;
}

.macbook-air .overlap {
  position: absolute;
  width: 300px;
  height: 63px;
  top: 38px;
  left: 45px;
  background-color: #ffffff;
}

.macbook-air .text-wrapper-4 {
  position: absolute;
  top: 16px;
  left: 94px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .div-wrapper {
  position: absolute;
  width: 300px;
  height: 63px;
  top: 38px;
  left: 390px;
  background-color: #ffffff;
}

.macbook-air .text-wrapper-5 {
  position: absolute;
  top: 16px;
  left: 51px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #00000080;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .overlap-2 {
  position: absolute;
  width: 300px;
  height: 63px;
  top: 38px;
  left: 735px;
  background-color: #c24914;
}

.macbook-air .text-wrapper-6 {
  position: absolute;
  top: 16px;
  left: 99px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .community {
  position: absolute;
  width: 1117px;
  height: 780px;
  top: 2279px;
  left: 145px;
}

.macbook-air .overlap-3 {
  position: relative;
  height: 780px;
}

.macbook-air .overlap-4 {
  position: absolute;
  width: 1117px;
  height: 718px;
  top: 62px;
  left: 0;
}

.macbook-air .image-2 {
  width: 996px;
  height: 664px;
  top: 54px;
  left: 121px;
  position: absolute;
  object-fit: cover;
}

.macbook-air .text-wrapper-7 {
  position: absolute;
  width: 531px;
  top: 0;
  left: 9px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-8 {
  position: absolute;
  top: 166px;
  left: 0;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000075;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .rectangle {
  position: absolute;
  width: 273px;
  height: 54px;
  top: 260px;
  left: 138px;
  background-color: #fc8621;
  border-radius: 10px;
}

.macbook-air .text-wrapper-9 {
  position: absolute;
  top: 271px;
  left: 190px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .ellipse {
  top: 103px;
  left: 915px;
  position: absolute;
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.macbook-air .ellipse-2 {
  top: 473px;
  left: 313px;
  position: absolute;
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.macbook-air .ellipse-3 {
  top: 339px;
  left: 36px;
  position: absolute;
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.macbook-air .ellipse-4 {
  top: 0;
  left: 593px;
  position: absolute;
  width: 102px;
  height: 102px;
  object-fit: cover;
}

.macbook-air .overlap-5 {
  position: absolute;
  width: 1280px;
  height: 442px;
  top: 3157px;
  left: 0;
  background-color: #f9e0ae;
}

.macbook-air .our-projects-FAQ-s {
  position: absolute;
  top: 149px;
  left: 679px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #6c6c6c;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-10 {
  position: absolute;
  top: 106px;
  left: 692px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-11 {
  position: absolute;
  top: 106px;
  left: 929px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-12 {
  position: absolute;
  top: 106px;
  left: 392px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .frame {
  position: absolute;
  width: 135px;
  height: 59px;
  top: 143px;
  left: 161px;
}

.macbook-air .text-wrapper-13 {
  position: absolute;
  top: 1px;
  left: 38px;
  font-family: "Jim Nightshade-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .vector {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 0;
}

.macbook-air .et-twitter {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 153px;
  left: 392px;
  overflow: hidden;
}

.macbook-air .group {
  position: relative;
  height: 33px;
  background-image: url(./img/vector-9.svg);
  background-size: 100% 100%;
}

.macbook-air .vector-2 {
  position: absolute;
  width: 18px;
  height: 15px;
  top: 10px;
  left: 9px;
}

.macbook-air .et-linkedin {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 153px;
  left: 448px;
  overflow: hidden;
}

.macbook-air .overlap-group-wrapper {
  height: 33px;
}

.macbook-air .overlap-group-2 {
  position: relative;
  width: 32px;
  height: 33px;
}

.macbook-air .vector-3 {
  position: absolute;
  width: 15px;
  height: 18px;
  top: 7px;
  left: 9px;
}

.macbook-air .vector-4 {
  position: absolute;
  width: 32px;
  height: 33px;
  top: 0;
  left: 0;
}

.macbook-air .circum-facebook {
  position: absolute;
  width: 37px;
  height: 37px;
  top: 150px;
  left: 503px;
}

.macbook-air .vector-5 {
  position: absolute;
  width: 31px;
  height: 31px;
  top: 3px;
  left: 3px;
}

.macbook-air .bxl-instagram {
  position: absolute;
  width: 38px;
  height: 37px;
  top: 150px;
  left: 563px;
}

.macbook-air .overlap-6 {
  position: relative;
  width: 29px;
  height: 28px;
  top: 5px;
  left: 5px;
}

.macbook-air .vector-6 {
  position: absolute;
  width: 15px;
  height: 14px;
  top: 7px;
  left: 7px;
}

.macbook-air .vector-7 {
  position: absolute;
  width: 3px;
  height: 3px;
  top: 5px;
  left: 20px;
}

.macbook-air .vector-8 {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
}

.macbook-air .flexcontainer-2 {
  width: 243px;
  height: 89px;
  top: 149px;
  left: 929px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
}

.macbook-air .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .text-wrapper-14 {
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 15px;
  letter-spacing: 0;
}

.macbook-air .text-wrapper-15 {
  position: absolute;
  top: 362px;
  left: 567px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #7d7a74;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .vector-9 {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 365px;
  left: 535px;
}

.macbook-air .navbar {
  position: absolute;
  width: 1280px;
  height: 124px;
  top: 0;
  left: 0;
  background-color: #f9e0ae;
}

.macbook-air .frame-2 {
  position: absolute;
  width: 135px;
  height: 59px;
  top: 44px;
  left: 119px;
}

.macbook-air .frame-3 {
  display: inline-flex;
  align-items: flex-start;
  gap: 56px;
  position: absolute;
  top: 52px;
  left: 504px;
}

.macbook-air .text-wrapper-16 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .frame-4 {
  position: relative;
  width: 112.98px;
  height: 30px;
}

.macbook-air .text-wrapper-17 {
  position: absolute;
  top: 1px;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-air .vector-10 {
  position: absolute;
  width: 15px;
  height: 9px;
  top: 13px;
  left: 98px;
}

.macbook-air .frame-5 {
  position: relative;
  width: 74.98px;
  height: 30px;
}

.macbook-air .vector-11 {
  position: absolute;
  width: 15px;
  height: 9px;
  top: 13px;
  left: 60px;
}

.macbook-air .overlap-7 {
  position: absolute;
  width: 150px;
  height: 39px;
  top: 54px;
  left: 1030px;
  background-color: #c24914;
  border-radius: 10px;
}

.macbook-air .text-wrapper-18 {
  position: absolute;
  top: 3px;
  left: 19px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
